.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #020406;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.mt-4r {margin-top: 4rem;}